@use "breakpoints" as b;
//Definir nro columnas
$grid-cols: 12;

//Clases de layout

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    padding-left: 6rem;

    .galeria{
        display: flex;
        width: 120%;
        height: 450px;
        margin: 10px;
        
     
    }
    .galeria img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        filter: brightness(80%);
        transition: .7s ease;
    }
    .galeria img:hover{
        width: 500px;
        opacity: 1;
        filter: brightness(130%);
    }

}

.row{
    margin-top: 32px;
    margin-right: -200px;
    margin-left: -100pxs;
    display: grid;
    grid-template-columns: repeat($grid-cols,1fr); //se repite lo que se pone en $grid cols
    gap: 20px;
}
.card{
    margin: 5px;
}


//Class col
@each $k, $value in b.$breakpoints{
    @include b.breakpoint($value){
        @for $i from 1 through $grid-cols{
            .col-#{$k}-#{$i}{
                grid-column: span $i;
            }
        }
    }
}