@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Merriweather:ital,wght@0,400;0,700;1,700&display=swap');

//reset styles
*{
    color: inherit;
    margin: 0;

}
body {
    font-family:  Lobster, Merriweather, Anton;
}
ul{
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;

}
hr{
    border: 0;
    border-top: 1px dotted #efefef;
}
img{
    max-width: 100%;
}

//style de h1
h1{
    color: v.$primary;
    margin-bottom: v.$base-margin;

}
a{
    color: v.$secundary;
    font-family: Merriweather;

}
button{
    font-family: Lobster;
    color: v.$white;
    border: 0;
    background-color: v.$primary;
    cursor: pointer;
    
}
.error{
    
    font-family: Anton;
    color: v.$error;
    //border-color: $error;
    border-color: v.$black;
    border-style: solid;

    margin: v.$base-margin;
    padding: v.$base-padding;
    border-radius: v.$base_border-radius;
    border-width: v.$base-border-width;
}

.notificacion{
    font-family: Anton;
    color: v.$secundary;
    //border-color: $secundary;
    border-color: v.$black;
    border-style: solid;

    margin: v.$base-margin;
    padding: v.$base-padding;
    border-radius: v.$base_border-radius;
    border-width: v.$base-border-width;
}
