@use 'sass:math';
@use '../variables' as v;
.card{
    display: block;
    //background-color: v.$white;
    padding: v.$base-padding;
    
    border: v.$base-border-width solid #ddd;
    box-shadow: v.$base-box-shadow;
    //division con la funcion math
    border-radius: math.div(v.$base_border-radius, 2);
    //border-radius: v.$base_border-radius;
    /*.card-title{
        font-size: v.$base-font-size;
        padding-bottom: v.$base-padding;
        font-weight: bold;
    }
    .car-body{
        font-size: v.$base-font-size;
        a{
            text-decoration: underline;
        }
    }*/

    //Specificity menor al anterior codigo 
    &-title{
        font-size: v.$font-size-lg;
        padding-bottom: v.$base-padding;
        font-weight: bold;
    }
    &-body{
        font-size: v.$base-font-size;
        a{
            text-decoration: underline;
        }
    }
    
}


