@use '../variables' as v;
@use'sass:color';
$sidebar-width: 300px;

.btn-menu{
    display: none;
}
nav {
    position: sticky;
    //top: 0;
    top: -10px;   
    bottom: 32px;    
}
.navbar{
    &:has(input[type="checkbox"]:checked){
        width: $sidebar-width;
        .menu-toggle-warp{
            top: -2rem;
            .menu-toggle{
                rotate: z -180deg;
            }
        }
        h3, .button .text{
            opacity: 1;
           
        }
    }
    display: flex;
    flex-direction: column;
    background-color: v.$black;
    color: v.$white;
    width: calc(1rem + 32px);
    overflow: hidden;
    min-height: 100vh;
    padding: 1rem;
    transition: 0.2 ease-in-out;
    .flex{
        flex: 1 1 0%;
    }
    .logo{
        margin-bottom: 1rem;
    }
    .menu-toggle-warp{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        position: relative;
        top: 0;
        transition: 0.2s ease-in-out;
    }
    h3, .button .text{
        opacity: 0;
        transition: opacity 0.3s;
    }

    h3{
        color: grey;
        font-size: v.$base-font-size;
        margin-bottom: v.$base-margin;
    }
    .menu{
        .button{
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 0.5rem, 1rem;
            transition: 0.2 s ease-in-out;
            .material-icons{
                font-size: 2rem;
                color: v.$white;

            }
            .text{
                margin-left: 1rem;
                color: v.$white;
            }
            &:hover{
                background-color: v.$primary;
                .material-icons, .text{
                    color: color.adjust(v.$primary, $lightness: -32%);

                }
            }
        }
    }

    position:absolute;
}

