.container {
    display: grid;
    gap: 4px;
    background-color: blue;
    padding: 0px;
    grid-template-columns: 0.2fr 2fr 2fr 2fr;
    /*grid-template-rows: repeat(5 2fr);
    grid-template-columns: [X0] 1fr [X1] 20fr  [X2] 1fr [X3];*/
    grid-template-rows: [Y0]100px [Y1] 400px [Y2] 400px [Y3] 400px [Y4] 100px;

    grid-template-areas: "header     header      header     header"
                        "side       main        main2        main2"
                        "side       section     section     section2"
                        "side       content     content2    content3"
                        "side       footer      footer      footer";




}

.grid-item {
    background-color: white;
    padding: 2rem;
    font-size: 24pt;
    text-align: center;
    border: solid 1px blue;
}

/*--- para el grid-template-area----*/
.container :nth-child(1) {
    grid-area: header;
    position: absolute;
    position: sticky;

}

.container :nth-child(2) {
    grid-area: side;
}

.container :nth-child(3) {
    grid-area: main;

    background-repeat: no-repeat;
    background-size: cover;
}
.container :nth-child(4) {
    grid-area: main2;
}

.container :nth-child(5) {
    grid-area: section;
}
.container :nth-child(6) {
    grid-area: section2;
}


.container :nth-child(7) {
    grid-area: content;
}
.container :nth-child(8) {
    grid-area: content2;
}
.container :nth-child(9) {
    grid-area: content3;
}
.container :nth-child(10) {
    grid-area: footer;
}
